Source: libindy-crypto
Section: devel
Priority: optional
Maintainer: Hyperledger <info@hyperledger.org>
Build-Depends: libssl1.0.0
Standards-Version: 0.0.1
Vcs-Git: https://github.com/hyperledger/indy-crypto/
Vcs-Browser: https://github.com/hyperledger/indy-crypto/


Package: libindy-crypto
Architecture: amd64
Depends: libssl1.0.0
Suggests: build-essential
Description: This is the shared crypto libirary for Hyperledger Indy components.

Package: libindy-crypto-dev
Architecture: amd64
Depends: libindy-crypto
Suggests: build-essential
Description: This is the shared crypto libirary for Hyperledger Indy components.
